Repository BradenM/micropy-build, changes with the labels that .github/labeler.yml gives for each.
All labels: esp32, esp8266, unix, build

feat: add schedule
  .github/workflows/build.yml
Labels: build

feat(micropython): add esp8266 and unix back
  .github/workflows/build.yml
Labels: build

fix: ports -> port
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/index.js
Labels: none

fix(pycopy): ensure mbedtls build
  esp32/Dockerfile
Labels: esp32

feat(entry): add build command to easily rebuild with extra modules
  .gitignore
  docker-entrypoint.py
Labels: none

ci: update to use ghcr
  .github/workflows/build.yml
Labels: build

feat(docker): copy extra modules from modules dir
  esp32/Dockerfile
Labels: esp32

fix: ensure modules dir exists
  .gitignore
  modules/.gitkeep
Labels: none

fix(pycopy): update pycopy job to use ghcr
  .github/workflows/build.yml
Labels: build

feat: update dockerfiles with ghcr label
  esp32/Dockerfile
  unix/Dockerfile
Labels: esp32, unix

ci: add workflow dispatch action
  .github/workflows/build.yml
Labels: build

chore(git): update ignore file
  .gitignore
Labels: none

fix(build): always utilize ghcr
  .github/workflows/build.yml
  actions/build-micropython/entrypoint.sh
  esp32/Dockerfile
Labels: esp32, build

feat(esp): update to handle newer esp-idf versions, support dynamic NUM_PROC
  esp32/Dockerfile
Labels: esp32

feat(action): attempt to utilize max available procs
  actions/build-micropython/entrypoint.sh
Labels: none

feat(entry): exclude certain bin files
  docker-entrypoint.py
Labels: none

fix(fetch): hard-code esp-idf compat tag
  actions/fetch-mpversions/index.js
Labels: none

feat(fetch): update deps, bump version to 1.1.0
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/package.json
  actions/fetch-mpversions/yarn.lock
Labels: none

test(fetch): update fetch-mpversions tests
  actions/fetch-mpversions/__tests__/index.test.js
Labels: none

fix(fetch): update all octokit to reference rest api
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/index.js
Labels: none

fix(esp): re-add accidentally dropped install command for esp-idf
  esp32/Dockerfile
Labels: esp32

.github/labeler.yml:

esp32: esp32/**/*
esp8266: esp8266/**/*
unix: unix/**/*
build: .github/workflows/*
