Repository BradenM/micropy-build, changes with the labels that .github/labeler.yml gives for each.
All labels: esp32, esp8266, unix, build

.github/labeler.yml:

esp32: esp32/**/*
esp8266: esp8266/**/*
unix: unix/**/*
build: .github/workflows/*

build: Allow PRs to all Ports
  .github/workflows/esp32.yml
  .github/workflows/esp8266.yml
  .github/workflows/unix.yml
Labels: build

feat(pycom): Add Support for Pycom Builds
  .github/workflows/esp32.yml
  esp32/Dockerfile
Labels: esp32, build

fix: Wrap Expression Defaults in Quotes
  .github/workflows/esp32.yml
Labels: build

fix(pycom): Fix Board Check
  .github/workflows/esp32.yml
  esp32/Dockerfile
Labels: esp32, build

fix: Docker Build Arg Typo
  .github/workflows/esp32.yml
Labels: build

fix(pycom): Missing Port Path Arg
  .github/workflows/esp32.yml
Labels: build

fix: Set Board Default to GENERIC
  .github/workflows/esp32.yml
  esp32/Dockerfile
Labels: esp32, build

fix: Fix Artifact Copy
  .github/workflows/esp32.yml
Labels: build

feat(pycom): Add Support for Pycom Builds (#1)
  .github/workflows/esp32.yml
  esp32/Dockerfile
Labels: esp32, build

build: Only Publish from master branch
  .github/workflows/esp32.yml
  .github/workflows/esp8266.yml
  .github/workflows/unix.yml
Labels: build

build(pycom): Add Other Pycom Board Types
  .github/workflows/esp32.yml
  .github/workflows/esp8266.yml
  .github/workflows/unix.yml
Labels: build

chore(pycom): Add v1.20.0.rc13
  .github/workflows/esp32.yml
Labels: build

build: Update ESP8266 Build
  .github/workflows/esp32.yml
  .github/workflows/esp8266.yml
  .github/workflows/unix.yml
Labels: build

feat: Build Micropython Action
  actions/build-micropython/Dockerfile
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
Labels: none

build(esp32): Update ESP32 Workflow to use Action
  .github/workflows/esp32.yml
  esp32/Dockerfile
Labels: esp32, build

fix: Fix Action Output
  actions/build-micropython/entrypoint.sh
Labels: none

feat(esp32): Update Other Firmware to new Matrix
  .github/workflows/esp32.yml
Labels: build

feat(esp32): Firmware based Matrix
  .github/workflows/esp32.yml
Labels: build

fix: Build Args, Dump Config
  .github/workflows/esp32.yml
  actions/build-micropython/Dockerfile
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
Labels: build

build(esp32): Update ESP32 Workflow to use Action
  .github/workflows/esp32.yml
  esp32/Dockerfile
Labels: esp32, build

feat: Build Micropython Action
  actions/build-micropython/Dockerfile
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
Labels: none

feat(esp32): Update Other Firmware to new Matrix
  .github/workflows/esp32.yml
Labels: build

fix: Fix Action Output
  actions/build-micropython/entrypoint.sh
Labels: none

fix: Build Args, Dump Config
  .github/workflows/esp32.yml
  actions/build-micropython/Dockerfile
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
Labels: build

feat(esp32): Firmware based Matrix
  .github/workflows/esp32.yml
Labels: build

fix: Docker Authentication
  .github/workflows/esp32.yml
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
Labels: build

feat(esp8266): Update ESP8266 Workflow to use Action
  .github/workflows/esp8266.yml
Labels: build

feat: Combine ESP Workflows
  .github/workflows/esp.yml
  .github/workflows/esp8266.yml
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
Labels: build

feat(unix): Combine Unix and ESP Workflows
  .github/workflows/build.yml
  .github/workflows/unix.yml
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
Labels: build

fix(unix): Alias Python to Python3
  unix/Dockerfile
Labels: unix

fix(unix): Install Python2 for Backwards Compat
  unix/Dockerfile
Labels: unix

fix: Additional Debug Output, ESP8266 Artifacts
  actions/build-micropython/entrypoint.sh
Labels: none

feat(docker): Add Entrypoint for Dockerfiles
  docker-entrypoint.py
Labels: none

feat(action): Update Build Action to use new Entrypoint
  actions/build-micropython/entrypoint.sh
Labels: none

feat: Update Ports to use New Entrypoint
  actions/build-micropython/entrypoint.sh
  esp32/Dockerfile
  unix/Dockerfile
Labels: esp32, unix

fix: Build Triggers
  .github/workflows/build.yml
Labels: build

fix: Support Older Python3 Versions
  .github/workflows/build.yml
  docker-entrypoint.py
Labels: build

fix: Output Formatting
  docker-entrypoint.py
Labels: none

build(pycopy): Add v2.11.0.12
  .github/workflows/build.yml
Labels: build

chore(pycom): Add v1.20.1.r1
  .github/workflows/build.yml
Labels: build
