Repository BradenM/micropy-build, changes with the labels that .github/labeler.yml gives for each.
All labels: esp32, esp8266, unix, build

chore(pycopy): Add v2.11.0.13
  .github/workflows/build.yml
Labels: build

chore(pycopy): Add v2.11.0.14
  .github/workflows/build.yml
Labels: build

fix(pycopy): Add missing ESPIDF to v2.11.0.14
  .github/workflows/build.yml
Labels: build

feat: Split up images by firmware and board instead of just firmware.
  actions/build-micropython/entrypoint.sh
Labels: none

chore(pycopy): Add v2.11.0.15 and ESPIDFv4 exp
  .github/workflows/build.yml
  .gitignore
Labels: build

fix(esp32): Pycopy requires pyparsing v2.3.1
  esp32/Dockerfile
Labels: esp32

feat(official): build micropython v1.12 for esp32/esp8266
  .github/workflows/build.yml
Labels: build

feat(official): build micropython v1.12 for esp32/esp8266
  .github/workflows/build.yml
Labels: build

feat(pycopy): build v2.11.0.20
  .github/workflows/build.yml
Labels: build

feat(pycopy): build v2.11.0.20
  .github/workflows/build.yml
Labels: build

feat(mpy): update official v1.12 to use ESP IDFv4 Hash
  .github/workflows/build.yml
Labels: build

feat(pycopy): update to v3.0.0 ESP IDFv4
  .github/workflows/build.yml
Labels: build

feat(mpy): update official v1.12 to use ESP IDFv4 Hash
  .github/workflows/build.yml
Labels: build

feat(pycopy): update to v3.0.0 ESP IDFv4
  .github/workflows/build.yml
Labels: build

feat(esp32): upgrade xtensa toolchain to 1.22.0-98
  esp32/Dockerfile
Labels: esp32

feat(esp32): upgrade xtensa toolchain to 1.22.0-98
  esp32/Dockerfile
Labels: esp32

feat(pycopy): add v3.4.2
  .github/workflows/build.yml
Labels: build

fix(entry): ensure path in entrypoint
  .gitignore
  docker-entrypoint.py
Labels: none

feat(esp32): update to utilize multistage builds
  esp32/Dockerfile
Labels: esp32

feat(esp32): build and cache base targets
  .github/workflows/build.yml
  actions/build-micropython/entrypoint.sh
Labels: build

feat: build from base image cache
  .github/workflows/build.yml
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
Labels: build

feat: build from base image via arg
  .github/workflows/build.yml
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
  esp32/Dockerfile
Labels: esp32, build

fix(esp32): move args outside of stage context
  esp32/Dockerfile
Labels: esp32

feat(esp32): cleanup dockerfile, used cached build stages
  .github/workflows/build.yml
  actions/build-micropython/action.yml
  actions/build-micropython/entrypoint.sh
  esp32/Dockerfile
Labels: esp32, build

fix(esp32): install postbuild helpers before changing user
  esp32/Dockerfile
Labels: esp32

feat: add pycopy back esp32 only, update pycopy flow
  .github/workflows/build.yml
Labels: build

fix(pycopy): handle pycopy mbedTLS failing to compile
  esp32/Dockerfile
Labels: esp32

feat: add action for fetching recent micropython tags
  actions/fetch-mpversions/__tests__/index.test.js
  actions/fetch-mpversions/action.yml
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/index.js
  actions/fetch-mpversions/jest.config.js
  actions/fetch-mpversions/package.json
  actions/fetch-mpversions/yarn.lock
Labels: none

feat: add fetch_versions step and make matrix dynamic
  .github/workflows/build.yml
  .gitignore
Labels: build

fix: populate matrix include from output
  .github/workflows/build.yml
  actions/fetch-mpversions/index.js
Labels: build

fix: github token input, update pycopy
  .github/workflows/build.yml
  actions/fetch-mpversions/index.js
Labels: build

fix: github token input, update pycopy
  .github/workflows/build.yml
  actions/fetch-mpversions/index.js
Labels: build

feat: add fetch_versions step and make matrix dynamic
  .github/workflows/build.yml
  .gitignore
Labels: build

feat: add action for fetching recent micropython tags
  actions/fetch-mpversions/__tests__/index.test.js
  actions/fetch-mpversions/action.yml
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/index.js
  actions/fetch-mpversions/jest.config.js
  actions/fetch-mpversions/package.json
  actions/fetch-mpversions/yarn.lock
Labels: none

fix: populate matrix include from output
  .github/workflows/build.yml
  actions/fetch-mpversions/index.js
Labels: build

fix: pat scopes
  .github/workflows/build.yml
  actions/fetch-mpversions/action.yml
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/index.js
Labels: build

fix: fromJSON include error
  .github/workflows/build.yml
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/index.js
Labels: build

fix: json output
  .github/workflows/build.yml
  actions/fetch-mpversions/action.yml
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/index.js
Labels: build

feat: generate build matrices from action
  .github/workflows/build.yml
  actions/fetch-mpversions/__tests__/index.test.js
  actions/fetch-mpversions/action.yml
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/index.js
Labels: build

fix: matrix structure
  actions/fetch-mpversions/dist/index.js
  actions/fetch-mpversions/index.js
Labels: none

.github/labeler.yml:

esp32: esp32/**/*
esp8266: esp8266/**/*
unix: unix/**/*
build: .github/workflows/*
